
@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";

}
@* <div class="alert alert-warning">
    @ViewData["Message"]
</div> *@
@* 
<div class="alert alert-success">
   @ViewBag.Message
</div> *@
@* @if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-primary ">
        @TempData["Message"]
    </div>
} *@


<h1>All Employees</h1>
<br />
<br />
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create new Employee</a>
<br />

<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1" >
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" id="searchInp" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>
@if (Model.Count() > 0)
{
    <table class=" mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(X => X.Name)</th>
                <th>@Html.DisplayNameFor(X => X.Age)</th>
                <th>@Html.DisplayNameFor(X => X.Address)</th>
                <th>@Html.DisplayNameFor(X => X.Department)</th>
                <th>@Html.DisplayNameFor(X => X.Salary)</th>
                <th>@Html.DisplayNameFor(X => X.IsActive)</th>
                <th>@Html.DisplayNameFor(X => X.Email)</th>
                <th>@Html.DisplayNameFor(X => X.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(X => X.HireDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr>
                    <td>@item.Name</td>   
                    <td>@item.Age</td>   
                    <td>@item.Address</td>   
                    <td>@item.Department?.Name</td>   
                    <td>@Html.DisplayFor(M=>item.Salary)</td>
                    <td>@Html.DisplayFor(M => item.IsActive)</td>
                    <td>@Html.DisplayFor(M => item.Email)</td>
                    <td>@item.PhoneNumber</td>   
                    <td>@item.HireDate</td>   
                    <partial name="_ButtonsPartial" model="@item.Id"/>
             </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3> No Employees Found!!</h3>
    </div>
}



